/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #ccc6c6;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.hero {
    text-align: center;
    padding: 50px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.feature {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #e66b6b;
    color: #fff;
}
